.merchantList_ul {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: .2rem;
}

.merchantList_li {
  display: flex;
  border-bottom: .025rem solid #f1f1f1;
  padding: .42rem .2rem;
  box-sizing: border-box;
}

.merchantList_li > section {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  color: #333;
  font-weight: 400;
  font-family: Microsoft Yahei;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

.merchantImg {
  width: 1.26rem;
  height: 1.26rem;
  display: block;
  margin-right: .4rem;
}

<<<<<<< HEAD
.merchantList_li > hgroup {
  flex: auto;
  box-sizing: border-box;
}

.merchantList_li > hgroup > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.merchant_title {
  width: 3.6rem;
  font-size: .32rem;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
=======
.merchant_title {
  width: 4.2rem;
  line-height: 0.36rem;
  font-size: .32rem;
  font-weight: 700;
  padding-right: .06rem;
>>>>>>> 05126dbf87381954547d8705c651f668567cd5b8
  box-sizing: border-box;
}

.merchant_title::before {
  content: "\54C1\724C";
  display: inline-block;
  font-size: .25rem;
  line-height: .32rem;
  color: #333;
  background-color: #ffd930;
  padding: 0 .05rem;
  border-radius: .05rem;
  margin-right: .1rem;
}

.merchantList_li > hgroup > header > div {
  font-style: normal;
  list-style: none;
  display: flex;
}

.merchantList_li > hgroup > header > div > span {
  font-size: .20rem;
  color: #999;
  border: .011rem solid #999;
  padding: 0 .02rem;
  border-radius: .035rem;
  margin-left: .02rem;
}

.star_line, .fee_line {
  height: .3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .23rem;
  font-size: .18rem;
}

.star_line > section:first-child {
  display: flex;
  justify-content: flex-start;
}

.star_line > section:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* transform: scale(.75); */
}

.star_line > section:last-child > span:first-child {
  background: #3190E8;
  color: #fff;
  border: .011rem solid #3190E8;
  margin-left: .04rem;
  border-radius: .04rem;
  padding: .04rem .06rem;
  height: .2rem;
  line-height: .2rem;
}

.star_line > section:last-child > span:last-child {
  background: #fff;
  color: #3190E8;
  border: .011rem solid #3190E8;
  margin-left: .04rem;
  border-radius: .04rem;
  padding: .04rem .06rem;
  height: .2rem;
  line-height: .2rem;
}

.star_left {
  max-width: 66%;
  display: flex;
  justify-content: space-between;
  font-size: .15rem;
}

.star_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.star_box > span:last-child {
  margin: 0 .1rem;
  color: #ff6000;
}

.fee {
  color: #666;
  font-size: .1rem;
}

.fee > span:nth-child(2) {
  color: #333;
}

.time {
  font-size: .09rem;
}

.time > span:first-child {
  color: #999;
}

.time > span:nth-child(2) {
  color: #ccc;
}

.time > span:last-child {
  color: #3190E8;
}